/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/******************************************
/* LAYOUT
/*******************************************/

img{
  display: block;
  margin: 0 2%;
  width: 15%;
}

.theirTotal{
  width: 4.5%;
}


section.grid{
  flex-flow: row wrap;
}


.grid{
  display: flex;
  overflow: auto;
}

.hidden{
  display: none;
}

body *{
font-size: 2rem;
}

body{
  background: no-repeat url('background.jpg') center/cover;

}

.flex{
  display:flex;
  justify-content: center;
}

#yourHand, #OppHand{
display:flex;
flex-direction: row;
align-items: center;
}

h2{
  margin: 0%;
}

#yourHand img, #OppHand img{
  width: 100%;
}

article.flex, button{
  margin: .5% .5%;
}

span.flexbox{
  margin: 0 2%;
}

.flexbox{
  display: flex;
  align-items: center;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media all and (min-width:1076px) and (max-width: 1400px){
img{
  width: 20%;
}
}

@media all and (min-width:500px) and (max-width: 1076px){
  img{
    width: 25%;
  }
  }