/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

#yourHand,#OppHand{
  display: flex;
}

.hidden{
  display: none;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
